.header-container { 
   background-color: black;
height: 15vh; 
border-bottom: 2px white;
align-items: center;
display: flex; 
flex-direction: row;
justify-content: space-around;
box-shadow: 5px 5px 30px grey;
}

.company-logo{
height: 12vh;
}

.nav-bar{
margin-left: 10vw;
}

.nav-bar ul{
list-style-type: none; 
}

.nav-bar ul li{ 
display: inline;
padding: 1em;
}

.nav-bar ul li a{
text-decoration: none;
color: white;
}

.nav-bar ul li a:hover{
color: coral; 
border-bottom: 1px solid white;
padding-bottom: 1em;
}

button{
background: lightgreen; 
color: white;
border: 2px solid white;
padding: 1em; 
width: 10vw; 
border-radius: 10px;
}

button:hover{
background:white;
color: coral;
border: 2px solid coral;
padding: 1em;
width: 10vw;
border-radius: 10px;
}

/*header formatting section ends here */

/*main section formatting starts here*/

.hero-unit-container { 
background-image: url('th1.jpeg'); 
background-size: 1500px 500px; 
height: 70vh;
text-align: center;

}

.hero-unit-container h1{
margin: 0.2em;
padding-top: 5vh;
font-size: 6em;
color: black;
} 


.paper-layout-section{
background-color: lightgrey;
display: flex;
flex-direction: column; 
padding-bottom: 5vh;
padding-top: 5vh;
}

.paper-layout-section h2{
text-align: center;
color: black;
font-size: 2em;
}

.paper-card-container{
display: flex;
flex-direction: row; 
align-items: center;
justify-content: space-evenly; 
margin-top: 5vh; 
}

.card h3{ 
color: white;
}

.card p{ 
color: white;
}

.card img{
height: 35vh;
width:20vw;
}


.card {
background-color: black;
text-align: center; 
height: 65vh;
width:20vw;
padding: 1em; 
box-shadow: 5px 5px 30px lightgreen;  
}

.card:hover{
background-color: black;
text-align: center; 
height: 65vh;
width:20vw;
padding: 1em; 
box-shadow: 5px 5px 30px red;  
}


footer{
background-color: lightgreen;
height: 15vh; 
text-align: center;
border: 1px white; 
margin: 0;
box-shadow: 5px 5px 30px black;
}

footer:hover{
background-color: lightgreen;
height: 15vh; 
text-align: center;
border: 1px white; 
margin: 0;
box-shadow: 5px 5px 30px coral;
}


footer h2{
color: black;
padding-top: 1em;
}